.imageBox {
    text-align: center;
}

div.explainBox {
    text-align: left;
    font-size: 1em;
}

img.wearImage {
    width: 80%;
}

img.screenImage {
    width: 70%;
}

td.imageTd {
    width: 50%;
}

td.explainTd {
    width: 50%;
    vertical-align: text-top;
}

body {
    font-size: 100%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}