.imageBox {
    text-align: center;
}

.explainBox {
    text-align: left;
    font-size: 3em;
}

.wearImage {
    width: 80%;
}

.screenImage {
    width: 70%;
}

.imageTd {
    width: 50%;
}

.explainTd {
    width: 50%;
    vertical-align: text-top;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 3em;
}