@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+JP&display=swap');

.imageBox {
    text-align: center;
}

div.explainBox {
    text-align: left;
    font-size: 1em;
}

div.explainBox ul {
    padding-inline-start: 40px;
    padding-inline-end: 20px;
}

img.wearImage {
    width: 80%;
}

img.screenImage {
    width: 70%;
}

td.imageTd {
    width: 50%;
}

td.explainTd {
    width: 50%;
    vertical-align: text-top;
}

body {
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}